footer {
    background-color: #FFFFFF;

    > .twitter-logo {
        display: inline-block;
        width: 50%;

        padding-top: 20px;
        text-align: left;

        @media #{$media-minimum} {
            padding-top: 0;
            
            > img {
                width: 20%;
            }
        }
    }

    > .enigma-logo {
        display: inline-block;
        width: 50%;

        padding-top: 20px;
        text-align: right;

         @media #{$media-minimum} {
            padding-top: 0;

             > a {
                 > img {
                    width: 50%;
                }
             }
        }
    }
}