@font-face {
    font-family: "Geomanist";
    src: url("../image/fonts/light.eot");
    src: url("../image/fonts/light.eot?#iefix") format("embedded-opentype"), 
         url("../image/fonts/light.woff2") format("woff2"), 
         url("../image/fonts/light.woff") format("woff"), 
         url("../image/fonts/light.ttf") format("truetype"), 
         url("../image/fonts/light.svg#geomanistbold") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("../image/fonts/regular.eot");
    src: url("../image/fonts/regular.eot?#iefix") format("embedded-opentype"), 
         url("../image/fonts/regular.woff2") format("woff2"), 
         url("../image/fonts/regular.woff") format("woff"), 
         url("../image/fonts/regular.ttf") format("truetype"), 
         url("../image/fonts/regular.svg#geomanist_regularregular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
    src: url("../image/fonts/medium.eot");
    src: url("../image/fonts/medium.eot?#iefix") format("embedded-opentype"), 
         url("../image/fonts/medium.woff2") format("woff2"), 
         url("../image/fonts/medium.woff") format("woff"), 
         url("../image/fonts/medium.ttf") format("truetype"), 
         url("../image/fonts/medium.svg#geomanistmedium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Geomanist";
        src: url("../image/fonts/bold.eot");
        src: url("../image/fonts/bold.eot?#iefix") format("embedded-opentype"), 
             url("../image/fonts/bold.woff2") format("woff2"), 
             url("../image/fonts/bold.woff") format("woff"), 
             url("../image/fonts/bold.ttf") format("truetype"), 
             url("../image/fonts/bold.svg#geomanistbold") format("svg");
    font-weight: 700;
    font-style: normal;
}