$media-minimum: "screen and (max-width: 640px)";

$media-small-down: "screen and (max-width: 1024px)";
$media-small: "screen and (min-width: 641px) and (max-width: 1024px)";
$media-small-up: "screen and (min-width: 641px)";

$media-normal-down: "screen and (max-width: 1024px)";
$media-normal: "screen and (min-width: 1025px) and (max-width: 1440px)";
$media-normal-up: "screen and (max-width: 1441px)";

$media-maximum: "screen and (min-width: 1441px)";



$light-blue-color: #007dc3; // light blue color
$dark-blue-color: #002d56; // dark blue
$white-color: #FFFFFF; // white

$primary-color: #34485e;